<body>
  <div class="container" >

    <div class="row-fluid input-prepend">
      <span class="add-on">http://</span>
      <input class="span8" ng-model="requestUrl" type="text" placeholder="input your url here">
      <button class="btn" ng-click="sendRequest()"  style="margin-left:10px;" type="button">Send</button>
    </div>

    <div class="input-prepend">
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-primary">GET</button>
          <button type="button" class="btn btn-primary">POST</button>
        </div>
    </div>
  </div>
</body>