
<div class="container" >

<div class="row-fluid input-prepend">
  <span class="add-on">http://</span>
  <input class="span8" ng-model="requestUrl" type="text" required placeholder="input your url here">
  <button class="btn" ng-click="sendRequest()"  style="margin-left:10px;" type="button">Send</button>
</div>

<div class="input-prepend">
    <div class="btn-group" id="radio-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-primary active">
        <i class="icon-check icon-white"></i>  GET
      </button>
      <button type="button" class="btn btn-primary">
        <i class="icon-check icon-white"></i>  POST
      </button>
      <button type="button" class="btn btn-primary">
        <i class="icon-check icon-white"></i>  PUT
      </button>
      <button type="button" class="btn btn-primary">
        <i class="icon-check icon-white"></i>  DELETE
      </button>
    </div>
</div>

 <div class="row-fluid">
    <ul class="nav nav-tabs">
      <li><a href="#sourceTab" class="active"  data-toggle="tab">Source</a></li>
      <li><a href="#previewTab" data-toggle="tab">Preview</a></li> 
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane active" id="sourceTab">
        <textarea class="tab-content " ng-readonly>
           {{responseSource}}
        </textarea>
      </div>
      <div class="tab-pane " id="previewTab">
        <iframe id="previewFrame" class="tab-content" srcdoc="{{responseSource}}"></iframe>
      </div>     
    </div>
 </div>
</div>
